<header>
    <h1>My Express App</h1>
    <nav>
      <a href="/SQL">SQL</a>
      <a href="/CSFR">CSFR</a>
      <a href="/noCSFR">noCSFR</a>
      <a href="/logout">logout</a>
    </nav>
  </header>
  