<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Lab2</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<header>
    <h1>Drugi projekt: Sigurnost</h1>
    <nav>
      <a href="/SQL">SQL</a>
      <a href="/CSFR">CSFR</a>
      <a href="/noCSFR">noCSFR</a>
      <a href="/logout">logout</a>
    </nav>
  </header>
  