<%- include('partials/header') %>
<main>
  <img src="https://web2-lab2-web-service.onrender.com/change-password/<%= username %>/napadacevpassword">
  <section>
    <p>
      Vaš password je promjenjen u 'napadacevpassword'
      Možete se probati logoutat i loginat sa prijašnjim passwordom i neće vam dati a zatim sa napadaćevim.
    </p>
  </section>
</main>
<%- include('partials/footer') %>
