<%- include('partials/header') %>
<main>
  <form action="/" method="post">
    <label for="inputField">Input Field:</label>
    <input type="text" id="inputField" name="inputField">
    <br>
    <label for="checkbox">Checkbox:</label>
    <input type="checkbox" id="checkbox" name="checkbox">
    <br>
    <button type="submit">Submit</button>
  </form>
</main>
<%- include('partials/footer') %>
