<%- include('partials/header') %>
<main>
  <img src="http://localhost:3000/change-password-secure/username=user.username/password=napadacevpassword/secret=neznam">
</main>
<%- include('partials/footer') %>
