<%- include('partials/header') %>
<main>
  <img src=https://web2-lab2-web-service.onrender.com/change-password-secure/username=user.username/password=napadacevpassword/secret=neznam">
  <section>
    <p>
      Vaš password nije promjenjen zbog korištenja secret tokena
      Možete se probati logoutat i loginat sa istim passwordom i radit će.
    </p>
  </section>
</main>
<%- include('partials/footer') %>
